{%- comment -%}
  Parameters
  * linklist
  * menu_order_link
  * menu_order
  * menu_contact_link
  * menu_contact
{%- endcomment -%}

<header class="header" id="header" data-module-init="header">
  <div class="header__wrapper">
    <div class="header__container container container--xl">

      <div class="header__order">
        <a class="header__order-link h4 white uppercase" href="{{ menu_order_link }}" title="{{ menu_order }}">{{ menu_order }}</a>
      </div>

      <a class="header-logo" href="{{ routes.root_url }}" title="{{ shop.name }}">
        {%- include 'icon' with 'icon-logo' -%}
        <span class="hidden">{{ shop.name }}</span>
      </a>

      <div class="header__contact">
        <a class="header__contact-link h4 white uppercase" href="{{ menu_contact_link }}" title="{{ menu_contact }}">{{ menu_contact }}</a>
      </div>

      {% if linklist %}
        <nav class="header__nav js-nav">
          <div class="header__nav__container">
            <ul class="header__nav__list">
              {% for link in linklists[linklist].links %}
                {%- assign child_list_handle = link.title | handleize -%}

                {% comment %}
                  Check if third-level nav exists on each parent link.
                {% endcomment %}
                {%- assign three_level_nav = false -%}
                {% if link.links != blank %}
                  {% if link.levels == 2 %}
                    {%- assign three_level_nav = true -%}
                  {% endif %}
                {% endif %}

                {% if link.links != blank %}
                <li class="header__nav-item header__nav-item--has-dropdown js-link">
                  <a href="{{ link.url }}" class="header__nav-link js-item-link h4 lb2" title="{{ link.title }}">
                    <span>{{ link.title }}</span>
                    <span role="img" class="header__nav-icon icon">
                      {%- include 'icon' with 'icon-arrow-down' -%}
                    </span>
                  </a>
                  {% if three_level_nav %}
                    <div class="header__subnav header__subnav--has-three-level js-subnav">
                      <div class="header__subnav-inner">
                        <div class="header__subnav-grid">
                          <ul class="header__subnav-list">
                            {% for childlink in link.links %}
                              <li class="header__subnav-item{% if forloop.last %} header__subnav-item--last{% endif %}">
                                <a class="h4" href="{{ childlink.url }}" title="{{ childlink.title | escape }}">{{ childlink.title | escape }}</a>
                                {% if childlink.links != blank %}
                                  <ul class="header__subnav-item-three-level">
                                    {% for grandchildlink in childlink.links %}
                                      <li class="header__subnav-item-three-level-item">
                                        <a class="h4" href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  {% else %}
                    <div class="header__subnav js-subnav">
                      <div class="header__subnav-inner">
                        <div class="header__subnav-grid">
                          <ul class="header__subnav-list">
                            {% for childlink in link.links %}
                              <li class="header__subnav-item{% if forloop.last %} header__subnav-item--last{% endif %}">
                                <a class="h4" href="{{ childlink.url }}" title="{{ childlink.title | escape }}">{{ childlink.title | escape }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </li>
                {% else %}
                    <li class="header__nav-item js-link">
                      <a href="{{ link.url }}" class="header__nav-link js-item-link h4 lb2" title="{{ link.title | escape }}">
                        <span>{{ link.title | escape }}</span>
                      </a>
                    </li>
                {% endif %}


              {% endfor %}
            </ul>

            <div class="header__nav-footer">
              <ul class="header__nav-footer-list">
                <li class="header__nav-footer-item">
                  <a class="header__nav-footer-link h4" href="{{ menu_order_link }}" title="{{ menu_order }}">{{ menu_order }}</a>
                </li>
                <li class="header__nav-footer-item">
                  <a class="header__nav-footer-link h4" href="{{ menu_contact_link }}" title="{{ menu_contact }}">{{ menu_contact }}</a>
                </li>
              </ul>
            </div>

          </div>
        </nav>
      {% endif %}

      <div class="header-side--mobile">
        <ul class="header-side__list--mobile">
          <li class="header-side__item">
            <a class="header-side__link" href="/" title="Login">
              <span role="img" class="header-side__icon header-side__icon-user">
                {%- include 'icon' with 'icon-user' -%}
              </span>
            </a>
          </li>
          <li class="header-slide__item">
            <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
              {%- include 'icon' with 'icon-cart' -%}
              <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
              <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} critical-hidden" data-cart-count-bubble>
                <span data-cart-count>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <span class="header__btn-mobile js-btn-mobile">
        <span class="header__btn-mobile__el"></span>
      </span>
    </div>

    {% include "header-search-mobile" %}

  </div>
  <div class="header__overlay fill js-header-overlay"></div>
</header>
